[submodule "3rdparty/miniupnp"]
	path = 3rdparty/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "src/mobile/qml/controls/charts"]
	path = src/mobile/qml/controls/charts
	url = git@github.com:HSAnet/glimpse_data_visualization.git
