android/bin
android/gen
android/libs
android/.*
android/Makefile
android/build.xml
android/java.pro
android/libjava.so
android/local.properties
android/assets/qml
android/assets/--Managed_by_Qt_Creator--
setup/Output
*.pro.user*
