Source: glimpse
Section: unknown
Priority: extra
Maintainer: Christoph Keller <gri@not-censored.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.measure-it.de
Vcs-Git: git@github.com:HSAnet/glimpse_client.git
Vcs-Browser: https://github.com/HSAnet/glimpse_client

Package: libglimpse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The glimpse measurement platform library

Package: glimpse-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglimpse (>= ${source:Version})
Description: The glimpse measurement platform console client

Package: glimpse-gui
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libglimpse (>= ${source:Version}), qt52quickcontrols
Description: The glimpse measurement platform gui client

Package: glimpse
Architecture: amd64 i386
Depends: glimpse-console (>= ${source:Version}), glimpse-gui (>= ${source:Version})
Description: The glimpse measurement platform meta package
